<h1>Welcome to Archi!</h1>

<% if @current_user.present? %> 
    <p>Welcome back user: <%= @current_user.email %></p>
<% end %>

<br>

<h3>Architectural Quotes by Famous Architects</h3>
<hr>
<%= @response[0]['quote'] %> 
<hr>
~
<%= @response[0]['author'] %> ~