
body {
    background-image: url(https://cdn.britannica.com/63/96663-050-C17E44F5/Fallingwater-Frank-Lloyd-Wright-Mill-Run-Pennsylvania-1937.jpg);
    color: rgb(255,250,250);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: large;
    margin: 2em;
        .container {
        max-width: 960px;
        margin: 0 auto;
            .card {
                display: flex;
                flex-direction: column;
                justify-content: center;
                nav {
                    display: flex; 
                    justify-content: space-evenly;
                    a {
                        color: lavenderblush;
                        text-decoration: none;
                        font-size: 20px;
                    }
                }
                .card2 {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: #00A86B;
                    opacity: 90%;
                    border-radius: 0.5em;
                    padding: 2em;
                    .thumb {
                        height: 10em;
                        border-radius: 0.65em;
                    }
                    .feature {
                        max-height: 30em;
                    }
                }
                form {
                    width: 20em;
                    line-height: 2em;
                    input { 
                        width: 50%;
                        border-radius: 0.3em;
                        padding: 0.5em;
                    }
                    label {
                        display: block;
                    }
                }
            }
    }
}